@model IEnumerable<FEMM20250326.AppWebMVC.Models.Warehouse>

@{
    ViewData["Title"] = "Bodegas";
}

<h1>Bodegas</h1>

<p>
    <a asp-action="Create">Agregar Bodega</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bodega
            </th>
            <th>
                Notas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
